<div class="d-flex flex-column image-wrapper">
    
    <div class="picture">
        <img src="https://picsum.photos/400/400?random=1" class="col-12">
    </div>
    <div class="d-flex thumbs mt-2">
        <img src="https://picsum.photos/100/100?random=1" class="col-3">
        <img src="https://picsum.photos/100/100?random=2" class="col-3">
        <img src="https://picsum.photos/100/100?random=3" class="col-3">
        <img src="https://picsum.photos/100/100?random=4" class="col-3">
    </div>
</div>
